.front,.back{
    width: 40%;
    min-width: 30rem;
    height: 30rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px gray;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation: entrada 2s;
}

.front h2,
.back h2{
    text-align: center;
    color: var(--colorPrincipal);
    font-family: var(--fuentePrincipal);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.logos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.logo-tech{
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    z-index: 10;
}

.ubicador{
    position: relative;
    margin: 15px;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.show-popup{
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
    background-color: var(--colorPrincipal);
    border-radius: 10px;
    color: white;
    animation: fadeIn 1s;
}

.popup{
    position: absolute;
    padding: 5px;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
    background-color: var(--colorPrincipal);
    border-radius: 10px;
    color: white;
    visibility: hidden;
}

.show-popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--colorPrincipal) transparent transparent transparent;
}

